<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"  content="width=device-width"/>
	<title>Cadastro de Carros</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="panel-heading" align="center">
		<strong>Cadastro de Carros</strong>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" th:object="${carro}" th:action="@{/carro/salvar}" method="POST" style="margin: 10px">
			<div class="form-group">
				<fieldset>
					<div class="form-group row">
						
						<label>Nome</label>
						<input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Modelo do Carro" maxlength="10"/>
						
						<label>Preço</label>
						<input type="text" class="form-control input-sm" th:field="*{preco}" autofocus="autofocus" placeholder="Preço" maxlength="10"/>
						
						<label>Ano</label>
						<input type="text" class="form-control input-sm" th:field="*{ano}" autofocus="autofocus" placeholder="Ano" maxlength="4"/>
						
						<label>Fabricante</label>
						<select class="custom-select" th:field="*{fabricante}">
							<option value="">Selecione o Fabricante</option>
							<option th:each="fab : ${fabricante}" th:value="${fab.id}" th:text="${fab.nome}"></option>
						</select>
						
						<label>Documento</label>
						<select class="custom-select" th:field="*{documento}">
							<option value="">Selecione o Documento</option>
							<option th:each="doc : ${documento}" th:value="${doc.id}" th:text="${doc.renavam}"></option>
						</select>
						
						<label>Chave</label>
						<select class="custom-select" th:field="*{chave}">
							<option value="">Selecione a Chave</option>
							<option th:each="key : ${chave}" th:value="${key.id}" th:text="${key.codigo}"></option>
						</select>
						
						<label>Acessórios</label>
						<ul style="list-style: none;">
								<li th:each="acc : ${acessorios}">
									<input type="checkbox" th:field="*{acessorios}" th:value="${acc.id}" th:checked="${true}"/>
									<label th:text="${acc.descricao}"></label>
								</li>
						</ul>
					</div>
				</fieldset>
			</div>
			<div align="center">
				<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
				<a th:href="@{/carro/listar}" class="btn btn-sm btn-default">Cancelar</a>
			</div>
		</form>
	</div>
</div>
</body>
</html>